@import '/src/styles/varriables';

.nav-bar {
  border-top: solid 2px $default-border-color;
  height: 75px;
  margin-bottom: 15px;
  box-shadow: 0px 4px 4px $default-border-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  margin-top: 4px;

  .container {
    flex-direction: row;
  }
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: #3b3e3f;
  margin-top: 4px;
  @media (max-width:700px) {
    font-size: 18px;
  }

  color: $default-text-color;
  text-decoration: none;
}
